@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --cyan-d: hsl(185, 75%, 39%);
    --blue-vd-desat: hsl(229, 23%, 23%);
    --grey-blue-d: hsl(227, 10%, 46%);

/* Neutral */

    --grey-d: hsl(0, 0%, 59%);
}

*{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background: var(--cyan-d);

    background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 32vh, left 50vw top 40vh;
    background-size: 1120px;
    overflow: hidden;
}

.background{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

/* #top{
    background-image: url(images/bg-pattern-top.svg);
}

#bot{
    background-image: url(images/bg-pattern-bottom.svg);
} */

/* #top-img, #bot-img{
    object-fit: fill;
}

#top-img{
    transform: translate(-20%,-50%);
}

#bot-img{
    transform-origin: left;
    transform: translate(-20%, 30%);
} */

.card{
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 32px -4px var(--blue-vd-desat);
    z-index: 2;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.prof-pic{
    border-radius: 200px;
    margin-top: -52px;
    border: 4px solid white;
}

.info-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
}

#name, #age {
    font-size: 18px;
}

#name{
    font-weight: 700;
}

#loc{
    color: var(--grey-d);
    margin-top: 12px;
}

.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 24px 32px;
    border-top: 1px solid #dfdfdf;
}

.stats-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-val{
    font-size: 18px;
}

.stats-label{
    font-size: 12px;
    color: var(--grey-d);
    letter-spacing: 2px;
    margin-top: 4px;
}

.attribution{
    position: absolute;

    text-align: center;
    width: 100%;

    bottom: 2%
}